if SHIELD_MINT34_LEFT

config ZMK_KEYBOARD_NAME
    default "mint34"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif # SHIELD_MINT34_LEFT

if SHIELD_MINT34_LEFT || SHIELD_MINT34_RIGHT

config ZMK_SPLIT
    default y

endif # SHIELD_MINT34_LEFT || SHIELD_MINT34_RIGHT
